# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Éditeurs
# ========================
.vscode/
.idea/

# ========================
# BACK (Symfony)
# ========================
back/.env
back/.env.dev
back/.env.test
back/.env.local
back/.env.local.php
back/.env.*.local
back/var/
back/vendor/
back/public/bundles/
back/public/assets/
back/assets/vendor/
back/config/secrets/prod/prod.decrypt.private.php
back/config/jwt/*.pem
back/.phpunit.cache/
back/phpunit.xml

# ========================
# FRONTEND (Angular)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.angular/
frontend/*.log