.card {
    border-radius: var(--radius-lg);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 8%;
    width: max-content;

}

.badge-outline {
    border: 3px solid var(--color-primary);
    border-radius: var(--radius-lg);
    padding: 8px 12px;
    font-weight: 700;
        background-color: var(--color-background);


}

.btn-primary {
    background-color: var(--color-primary);
    border-radius: var(--radius-lg);
    padding: 8px 12px;
    font-weight: 700;
    color: var(--color-background);
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}
.input {
    background-color: rgba(255, 255, 255, 0.079);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.408);
    padding: 8px 12px;
    border-radius: var(--radius-lg);
    outline: none;

    &:focus {
        border: 2px solid var(--color-primary);
    }
}


.icon-fill {
    background-color: var(--color-text);
    padding: 4px;
    color: var(--color-background);
    border-radius: var(--radius-lg);
}

.affiche {

    min-height: 70vh;
    border-radius: var(--radius-lg);
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 24px;
}
.chevrons {
    padding: 4px;
    border-radius: var(--radius-lg);
    background-color: var(--color-background-transparent);

    &:hover {
        background-color: var(--color-primary-transparent);
    }
}


