@import "tailwindcss";

@theme {
    --color-primary: #00FFAA;
    --color-background: #1E1E1E;
    --color-surface: #2E2E2E;
    --color-surface-alt: #3E3E3E;
    --color-text: #FFFFFF;
    --color-text-muted: #A0A0A0;
    --color-danger: #FF4444;

    --font-sans: 'Inter', Arial, sans-serif;

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    padding: 12px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.badge-outline {
    border: 3px solid var(--color-primary);
    border-radius: var(--radius-lg);
    padding: 8px 12px;
    font-weight: 700;

}


.icon-fill {
    background-color: var(--color-text);
    padding: 4px;
    color: var(--color-background);
    border-radius: var(--radius-lg);
}

.affiche {
    background-image: url(src/assets/bruts/bo.jpg);
    background-size: cover;
    min-height: 70vh;
    border-radius: var(--radius-lg);
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}

